<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="../../assets/js/lib-flexible.js"></script>
    <!--<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>-->
    <title>单机</title>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/comment.css">
    <link rel="stylesheet" href="PCG.css">
</head>
<body>
<header class="clear">
    <div class="left-content left">
        <a href=""><img src="../../assets/img/new_logo.png"/></a>
    </div>
    <div class="right-content right">
        <a href=""><img src="../../assets/img/search_ico.png"/></a>
        <a href="../user/user.html"><img src="../../assets/img/user_ico.png"/></a>
    </div>
</header>
<nav>
    <ul>
        <li><a href="../home/home.html">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li class="active"><a href="#">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li><a href="../OEM/OEM.html">礼包</a></li>
    </ul>
</nav>
<div class="main">
    <div class="online-content">
        <div class="online-tab">
            <ul class="display-flex " id="tabUl">
                <li class="active">最新<em class="jiaoBiao" style="display: block;"></em></li>
                <li>最热<em class="jiaoBiao"></em></li>
                <li>分类<em class="jiaoBiao"></em></li>
            </ul>
        </div>
        <div class="online-data">
            <ul>
                <li>
                    <div class="left-content ">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>火影mud</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content right">
                        <button><a href=""><a href="">开始玩</a></a></button>
                    </div>
                </li>
                <li>
                    <div class="left-content ">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>火影mud</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content right">
                        <button><a href=""><a href="">开始玩</a></a></button>
                    </div>
                </li>
                <li>
                    <div class="left-content">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>火影mud</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content">
                        <button><a href="">开始玩</a></button>
                    </div>
                </li>
                <li>
                    <div class="left-content">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>火影mud</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content">
                        <button><a href="">开始玩</a></button>
                    </div>
                </li>
                <li>
                    <div class="left-content">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>火影mud</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content">
                        <button><a href="">开始玩</a></button>
                    </div>
                </li>
            </ul>
            <div class="load-more">
                <p>加载更多</p>
            </div>
        </div>
        <div class="online-data" style="display: none;">
            <ul>
                <li>
                    <div class="left-content">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>哆啦a梦</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content">
                        <button><a href="">开始玩</a></button>
                    </div>
                </li>
                <li>
                    <div class="left-content">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>哆啦a梦</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content">
                        <button><a href="">开始玩</a></button>
                    </div>
                </li>
                <li>
                    <div class="left-content">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>哆啦a梦</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content">
                        <button><a href="">开始玩</a></button>
                    </div>
                </li>
                <li>
                    <div class="left-content">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>哆啦a梦</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content">
                        <button><a href="">开始玩</a></button>
                    </div>
                </li>
                <li>
                    <div class="left-content">
                        <div class="image-content">
                            <a href=""><img src="../../assets/images/online.png" alt=""></a>
                        </div>
                        <div class="text-content">
                            <p>哆啦a梦</p>
                            <p>
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_1.png" alt="">
                                <img src="../../assets/img/star_2.png" alt="">
                            </p>
                            <p><span>微网游</span> <span>人气：8929</span></p>
                        </div>
                    </div>
                    <div class="right-content">
                        <button><a href="">开始玩</a></button>
                    </div>
                </li>
            </ul>
            <div class="load-more">
                <p>加载更多</p>
            </div>
        </div>
        <div class="online-data game-list clear" style="display: none;">
            <ul>
                <li>
                    <a href="">
                        <div class="left-content left">
                            <img src="../../assets/img/leidian.png" alt="">
                        </div>
                        <div class="text-content2">
                            <p>休闲类</p>
                            <p><em>666</em>款</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../PCGList/PCGList.html">
                        <div class="left-content left">
                            <img src="../../assets/img/leidian.png" alt="">
                        </div>
                        <div class="text-content2">
                            <p>休闲类</p>
                            <p><em>666</em>款</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="left-content left">
                            <img src="../../assets/img/leidian.png" alt="">
                        </div>
                        <div class="text-content2">
                            <p>休闲类</p>
                            <p><em>666</em>款</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="left-content left">
                            <img src="../../assets/img/leidian.png" alt="">
                        </div>
                        <div class="text-content2">
                            <p>休闲类</p>
                            <p><em>666</em>款</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="left-content left">
                            <img src="../../assets/img/leidian.png" alt="">
                        </div>
                        <div class="text-content2">
                            <p>休闲类</p>
                            <p><em>666</em>款</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="left-content left">
                            <img src="../../assets/img/leidian.png" alt="">
                        </div>
                        <div class="text-content2">
                            <p>休闲类</p>
                            <p><em>666</em>款</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="left-content left">
                            <img src="../../assets/img/leidian.png" alt="">
                        </div>
                        <div class="text-content2">
                            <p>休闲类</p>
                            <p><em>666</em>款</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="left-content left">
                            <img src="../../assets/img/leidian.png" alt="">
                        </div>
                        <div class="text-content2">
                            <p>休闲类</p>
                            <p><em>666</em>款</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="someTips">
    <!--返回顶部-->
    <div class="back-top" id="rollingTop">返回顶部</div>
</div>
<footer>
    <ul>
        <li><a href="../home/home.html">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li><a href="../PCG/PCG.html">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li ><a href="../OEM/OEM.html">礼包</a></li>
    </ul>
    <div class="footer-text">
        <p>你好，<a href="" class="footer-a1">周杰伦</a></p>
        <p><a href="" class="footer-a1"> 意见反馈</a> 开放平台 联系我们 <a href="" class="footer-a2">游戏合作</a></p>
        <p>厦门七七游网络科技有限公司</p>
        <p class="imgSize">
            闽ICP备15008081号-2
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=921c2f99c1381082f24b42be36117a7978614ab766fcd691139c64c791d439d5"><img
                    border="0" src="http://pub.idqqimg.com/wpa/images/group.png"
                    alt="7724游戏交流群" title="7724游戏交流群"></a>
        </p>
        <p id="changeImage"><a key="58180ca2efbfb050303b4651" logo_size="124x47" logo_type="realname"
                               href="http://www.anquan.org">
            <script src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
        </a></p>
    </div>
</footer>
<script src="../../assets/js/tab.js"></script>
<script src="../../assets/js/jquery-3.2.0.min.js"></script>
<script src="PCG.js"></script>
<script src="../../assets/js/comment.js"></script>
</body>
</html>
