<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="../../assets/js/lib-flexible.js"></script>
    <!--<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>-->
    <title>礼包</title>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/comment.css">
    <link rel="stylesheet" href="OEM.css">
</head>
<body>
<header class="clear">
    <div class="left-content left">
        <a href=""><img src="../../assets/img/new_logo.png"/></a>
    </div>
    <div class="right-content right">
        <a href=""><img src="../../assets/img/search_ico.png"/></a>
        <a href="../user/user.html"><img src="../../assets/img/user_ico.png"/></a>
    </div>
</header>


<nav>
    <ul>
        <li><a href="../home/home.html">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li><a href="../PCG/PCG.html">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li class="active"><a href="#">礼包</a></li>
    </ul>
</nav>
<div class="main">
    <div class="main">
        <div class="online-content">
            <div class="online-tab">
                <ul class="display-flex " id="tabUl">
                    <li class="active">礼包<em class="jiaoBiao" style="display: block;"></em></li>
                    <li>开服<em class="jiaoBiao"></em></li>
                </ul>
            </div>
            <div class="online-search">
                <label>
                    <input type="text" placeholder="搜索礼包">
                    <input type="button" value="搜索">
                </label>
            </div>
            <div class="online-data">
                <ul>
                    <li>
                        <div class="left-content ">
                            <div class="image-content">
                                <a href=""><img src="../../assets/images/online.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <p>天使奇迹大冒险：特权礼包</p>
                                <p><span>开始时间</span> <span>04-14 11:00</span></p>
                            </div>
                        </div>
                        <div class="right-content right">
                            <button class="over-style"><a href=""><a href="">未开始</a></a></button>
                        </div>
                    </li>
                    <li>
                        <div class="left-content ">
                            <div class="image-content">
                                <a href=""><img src="../../assets/images/online.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <p>天使奇迹大冒险：特权礼包</p>
                                <p><span>剩余</span> <span>71%</span></p>
                            </div>
                        </div>
                        <div class="right-content right">
                            <button><a href=""><a href="../OEMList/OEMList.html">领取</a></a></button>
                        </div>
                    </li>
                    <li>
                        <div class="left-content">
                            <div class="image-content">
                                <a href=""><img src="../../assets/images/online.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <p>天使奇迹大冒险：特权礼包</p>
                                <p><span>剩余</span> <span>71%</span></p>
                            </div>
                        </div>
                        <div class="right-content">
                            <button class="over-style"><a href="">结束</a></button>
                        </div>
                    </li>
                    <li>
                        <div class="left-content">
                            <div class="image-content">
                                <a href=""><img src="../../assets/images/online.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <p>天使奇迹大冒险：特权礼包</p>
                                <p><span>剩余</span> <span>71%</span></p>
                            </div>
                        </div>
                        <div class="right-content">
                            <button class="over-style"><a href="">结束</a></button>
                        </div>
                    </li>
                    <li>
                        <div class="left-content">
                            <div class="image-content">
                                <a href=""><img src="../../assets/images/online.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <p>天使奇迹大冒险：特权礼包</p>
                                <p><span>剩余</span> <span>71%</span></p>
                            </div>
                        </div>
                        <div class="right-content">
                            <button><a href="">领取</a></button>
                        </div>
                    </li>
                </ul>
                <div class="load-more">
                    <p>加载更多</p>
                </div>
            </div>
            <div class="online-data"  style="display: none;">
                <div class="open-game">
                    <div class="game-item">
                        <p class="por-ico">
                            <img src="../../assets/img/kaifu_icon01.png" height="24" width="24"/>
                            今天
                        </p>
                        <ul>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="../gdetail/gdetail.html">开始玩</a></button>
                                </div>
                            </li>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="game-item">
                        <p class="por-ico">
                            <img src="../../assets/img/kaifu_icon02.png" height="24" width="24"/>
                            即将
                        </p>
                        <ul>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="game-item">
                        <p class="por-ico">
                            <img src="../../assets/img/kaifu_icon03.png" height="24" width="24"/>
                            已开服
                        </p>
                        <ul>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                            <li>
                                <div class="left-content">
                                    <div class="image-content">
                                        <a href=""><img src="../../assets/images/online.png" alt=""></a>
                                    </div>
                                    <div class="text-content">
                                        <p>蜀山世界</p>
                                        <p>开服时间：<span>08：00</span></p>
                                        <p><span>服务器名称：</span> <span>358区</span></p>
                                    </div>
                                </div>
                                <div class="gift-box">
                                    <img src="../../assets/img/kaifu_gift.png"/>
                                </div>
                                <div class="right-content">
                                    <button><a href="">开始玩</a></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="load-more">
                    <p>加载更多</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="someTips">
    <!--返回顶部-->
    <div class="back-top" id="rollingTop">返回顶部</div>
</div>
<footer>
    <ul>
        <li><a href="../home/home.html">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li><a href="../PCG/PCG.html">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li ><a href="../OEM/OEM.html">礼包</a></li>
    </ul>
    <div class="footer-text">
        <p>你好，<a href="" class="footer-a1">周杰伦</a></p>
        <p><a href="" class="footer-a1"> 意见反馈</a> 开放平台 联系我们 <a href="" class="footer-a2">游戏合作</a></p>
        <p>厦门七七游网络科技有限公司</p>
        <p class="imgSize">
            闽ICP备15008081号-2
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=921c2f99c1381082f24b42be36117a7978614ab766fcd691139c64c791d439d5"><img
                    border="0" src="http://pub.idqqimg.com/wpa/images/group.png"
                    alt="7724游戏交流群" title="7724游戏交流群"></a>
        </p>
        <p id="changeImage"><a key="58180ca2efbfb050303b4651" logo_size="124x47" logo_type="realname"
                               href="http://www.anquan.org">
            <script src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
        </a></p>
    </div>
</footer>
<script src="../../assets/js/tab.js"></script>
<script src="../../assets/js/jquery-3.2.0.min.js"></script>
<script src="OEM.js"></script>
<script src="../../assets/js/comment.js"></script>
</body>
</html>
