<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="../../assets/js/lib-flexible.js"></script>
    <script src="../../assets/js/jquery-3.2.0.min.js"></script>
    <!--<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>-->
    <title>首页</title>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/comment.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
<header class="clear">
    <div class="left-content left">
        <a href=""><img src="../../assets/img/new_logo.png"/></a>
    </div>
    <div class="right-content right">
        <a href=""><img src="../../assets/img/search_ico.png"/></a>
        <a href="../user/user.html"><img src="../../assets/img/user_ico.png"/></a>
    </div>
</header>
<nav>
    <ul>
        <li class="active"><a href="">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li><a href="../PCG/PCG.html">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li><a href="../OEM/OEM.html">礼包</a></li>
    </ul>
</nav>
<div class="main">
    <div class="index-already-play">
        <div class="index-tit">我玩过的</div>
        <div class="meposition">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="index-slide-box swiper-slide">
                        <ul class="display-flex justify-content-space-around">
                            <li>
                                <a href="#"><img src="../../assets/img/img1.png"></a>
                                <p>点兵三国志</p>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/img/img1.png"></a>
                                <p>点兵三国志</p>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/img/img1.png"></a>
                                <p>点兵三国志</p>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/img/img1.png"></a>
                                <p>点兵三国志</p>
                            </li>
                        </ul>
                    </div>
                    <div class="index-slide-box swiper-slide">
                        <ul class="display-flex justify-content-space-around">
                            <li>
                                <a href="#"><img src="../../assets/img/img1.png"></a>
                                <p>点兵三国志</p>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/img/img1.png"></a>
                                <p>点兵三国志</p>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/img/img1.png"></a>
                                <p>点兵三国志</p>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/img/img1.png"></a>
                                <p>点兵三国志</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<div class="index-already-play">
    <div class="index-tit index-tit2">精品推荐</div>
    <div class="index-play-games">
        <ul class="display-flex flex-wrap-wrap justify-content-space-around ">
            <li>
                <a href="#" class="a1"><img src="../../assets/img/img1.png"></a>
                <div class="index-play-btn">
                    <p>联盟与部落</p>
                    <a href="#">开始玩</a>
                </div>
            </li>
            <li>
                <a href="#" class="a1"><img src="../../assets/img/img1.png"></a>
                <div class="index-play-btn">
                    <p>决战沙城h5</p>
                    <a href="#">开始玩</a>
                </div>
            </li>
            <li>
                <a href="#" class="a1"><img src="../../assets/img/img1.png"></a>
                <div class="index-play-btn">
                    <p>联盟与部落</p>
                    <a href="#">开始玩</a>
                </div>
            </li>
            <li>
                <a href="#" class="a1"><img src="../../assets/img/img1.png"></a>
                <div class="index-play-btn">
                    <p>联盟与部落</p>
                    <a href="#">开始玩</a>
                </div>
            </li>
            <li>
                <a href="#" class="a1"><img src="../../assets/img/img1.png"></a>
                <div class="index-play-btn">
                    <p>联盟与部落</p>
                    <a href="#">开始玩</a>
                </div>
            </li>
            <li>
                <a href="#" class="a1"><img src="../../assets/img/img1.png"></a>
                <div class="index-play-btn">
                    <p>联盟与部落</p>
                    <a href="#">开始玩</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="index-already-play">
    <div class="index-tit index-tit3">最新游戏</div>
    <div class="index-new-game">
        <ul class="display-flex justify-content-space-around flex-wrap-wrap">
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>数码世界（不付费删测）</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>数码世界（不付费删测）</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="index-more"><a href="#">更多>></a></div>
</div>
<div class="index-ad">
    <a href="#"><img src="../../assets/images/ad-img.jpg"></a>
</div>
<div class="index-already-play">
    <div class="index-tit index-tit4">热门网游</div>
    <div class="index-new-game index-hot-game">
        <ul class="display-flex justify-content-space-around flex-wrap-wrap">
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                    <span>开始玩</span>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                    <span>开始玩</span>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                    <span>开始玩</span>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                    <span>开始玩</span>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                    <span>开始玩</span>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                    <span>开始玩</span>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                    <span>开始玩</span>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                    <span>开始玩</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="index-more"><a href="#">更多>></a></div>
</div>
<div class="index-already-play">
    <div class="index-tit index-tit5">最新游戏</div>
    <div class="index-new-game">
        <ul class="display-flex justify-content-space-around flex-wrap-wrap">
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>数码世界（不付费删测）</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>数码世界（不付费删测）</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="index-more"><a href="#">更多>></a></div>
    <div class="index-game-type">
        <ul class="display-flex justify-content-space-around">
            <li>
                <a href="#">休闲</a>
            </li>
            <li>
                <a href="#">装扮</a>
            </li>
            <li>
                <a href="#">闯关</a>
            </li>
            <li>
                <a href="#">射击</a>
            </li>
            <li>
                <a href="#">连连看</a>
            </li>
        </ul>
    </div>
</div>
<div class="index-ad">
    <a href="#"><img src="../../assets/images/ad-img2.jpg"></a>
</div>
<div class="index-already-play">
    <div class="index-tit index-tit6">经典游戏</div>
    <div class="index-new-game">
        <ul class="display-flex justify-content-space-around flex-wrap-wrap">
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>数码世界（不付费删测）</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>数码世界（不付费删测）</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
            <li>
                <a href="#" class="a1">
                    <img src="../../assets/img/img1.png">
                    <p>十万个小伙伴</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="index-more"><a href="#">更多>></a></div>
    <div class="index-game-type index-game-type2">
        <ul class="display-flex justify-content-space-around">
            <li>
                <a href="#">热门网游</a>
            </li>
            <li>
                <a href="#">热门单机</a>
            </li>
            <li>
                <a href="#">游戏分类</a>
            </li>
        </ul>
    </div>
</div>
<div class="index-already-play">
    <div class="index-tit index-tit7">最新专题</div>
    <div class="index-new-theme-box">
        <div class="index-new-theme">
            <a href="#">
                <img src="../../assets/images/ad-img.jpg">
                <span>带上精灵宠物一起去踏青吧</span>
            </a>
        </div>
        <div class="index-new-theme">
            <a href="#">
                <img src="../../assets/images/ad-img.jpg">
                <span>带上精灵宠物一起去踏青吧</span>
            </a>
        </div>
    </div>
    <div class="index-more"><a href="#">更多>></a></div>
</div>
<div class="index-already-play">
    <div class="index-7724-download display-flex justify-content-space-between">
        <div class="index-download-logo">
            <img src="../../assets/img/box_logo.png">
            <p class="p1">7724游戏盒</p>
            <p class="p2">海量精选小游戏 任你玩</p>
        </div>
        <div class="index-download-btn">
            <a href="#">立即下载</a>
        </div>
    </div>
</div>
</div>

<div class="someTips">
    <!--返回顶部-->
    <div class="back-top" id="rollingTop">返回顶部</div>
</div>
<footer>
    <ul>
        <li><a href="../home/home.html">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li><a href="../PCG/PCG.html">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li><a href="../OEM/OEM.html">礼包</a></li>
    </ul>
    <div class="footer-text">
        <p>你好，<a href="" class="footer-a1">周杰伦</a></p>
        <p><a href="" class="footer-a1"> 意见反馈</a> 开放平台 联系我们 <a href="" class="footer-a2">游戏合作</a></p>
        <p>厦门七七游网络科技有限公司</p>
        <p class="imgSize">
            闽ICP备15008081号-2
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=921c2f99c1381082f24b42be36117a7978614ab766fcd691139c64c791d439d5"><img
                    border="0" src="http://pub.idqqimg.com/wpa/images/group.png"
                    alt="7724游戏交流群" title="7724游戏交流群"></a>
        </p>
        <p id="changeImage"><a key="58180ca2efbfb050303b4651" logo_size="124x47" logo_type="realname"
                               href="http://www.anquan.org">
            <script src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
        </a></p>
    </div>
</footer>
<script src="../../assets/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="../../assets/js/swiper.min.js"></script>
<script src="home.js"></script>
</body>
</html>
