<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="../../assets/js/lib-flexible.js"></script>
    <title>游戏详情页</title>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/comment.css">
    <link rel="stylesheet" href="informationList.css">
</head>
<body>
<header class="clear">
    <div class="left-content left">
        <a href=""><img src="../../assets/img/new_logo.png"/></a>
    </div>
    <div class="right-content right">
        <a href=""><img src="../../assets/img/search_ico.png"/></a>
        <a href="../user/user.html"><img src="../../assets/img/user_ico.png"/></a>
    </div>
</header>
<nav>
    <ul>
        <li><a href="../home/home.html">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li><a href="../PCG/PCG.html">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li><a href="#">礼包</a></li>
    </ul>
</nav>
<div class="main">
    <div class="gdetail-download clear">
        <div class="gdetail-download-img">
            <a href="#"><img src="../../assets/images/online.png"></a>
        </div>
        <div class="gdetail-download-intro">
            <p class="p1">你是《三生三世十里桃花》</p>
            <p>
                <img src="../../assets/img/star_1.png">
                <img src="../../assets/img/star_1.png">
                <img src="../../assets/img/star_1.png">
                <img src="../../assets/img/star_1.png">
                <img src="../../assets/img/star_2.png">
            </p>
            <p>微网游，角色类</p>
            <p>人气：57182</p>
        </div>
        <div class="gdetail-download-btn">
            <a href="#" class="a1">开始游戏</a>
        </div>
    </div>
    <div class="online-content gdetail-tab-box">
        <div class="gdetail-gintro-box">
            <div class="gdetail-tit tit-none"><p class="title-nav">钢铁苍穹 > 攻略 > <em>正文</em></p></div>
            <div class="gdetail-gintro-p">
                <p class="title-header">钢铁苍穹h5天启坦克属性介绍 天启坦克好不好用 </p>
                <p class="title-time">2017-04-14 作者：7724</p>
                <p>　　
                    钢铁苍穹h5天启坦克是S级的坦克兵种，玩家在竞技场中奋斗获得的荣耀就可以拿来购买天启坦克的碎片，无论是普通玩家还是大R的话，这都是非常不错的S级兵种获取途径哦，下面就来看看它的属性技能如何。
                </p>
                <p class="red-style">
                    技能介绍：
                </p>
                <p>
                    　　普攻：敌方单体100%伤害
                </p>
                <p>
                    必杀：敌方竖排全体220%伤害，自身获得无敌1回合
                </p>
                <p class="gototext">
                    <a href="">上一篇：钢铁苍穹h5基洛夫怎么升星 基洛夫属性介绍</a>
                </p>
                <p class="gototext">
                    <a href="">下一篇：钢铁苍穹h5潜鸟侦察机要换吗 单体最强输出</a>
                </p>
            </div>
        </div>
        <div class="gdetail-gintro-box">
            <div class="gdetail-tit"><h1>相关文章</h1></div>
            <div class="gdetail-news">
                <ul>
                    <li>
                        <a href="#">
                            <span>[攻略]</span>
                            <p>武道至尊4月12日全服停服更尊4月12日全服停服更尊4月12日全服停服更尊4月12日全服停服更新通知</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>[攻略]</span>
                            <p>武道至尊4月12日全服停服更新通知</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>[攻略]</span>
                            <p>武道至尊4月12日全服停服更尊4月12日全服停服更尊4月12日全服停服更尊4月12日全服停服更新通知</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>[攻略]</span>
                            <p>武道至尊4月12日全服停服更新通知</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>[攻略]</span>
                            <p>武道至尊4月12日全服停服更尊4月12日全服停服更尊4月12日全服停服更尊4月12日全服停服更新通知</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="gdetail-news-more">
                <a href="#">浏览更多攻略</a>
            </div>
        </div>
        <div class="gdetail-gintro-box">
            <div class="gdetail-tit gdetail-tit4"><h1>相关游戏</h1></div>
            <div class="index-new-game gdetail-gabout">
                <ul class="display-flex justify-content-space-around flex-wrap-wrap">
                    <li>
                        <a href="#" class="a1">
                            <img src="../../assets/img/img1.png">
                            <p>十万个小伙伴</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="a1">
                            <img src="../../assets/img/img1.png">
                            <p>数码世界（不付费删测）</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="a1">
                            <img src="../../assets/img/img1.png">
                            <p>十万个小伙伴</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="a1">
                            <img src="../../assets/img/img1.png">
                            <p>十万个小伙伴</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="someTips">
    <!--返回顶部-->
    <div class="back-top" id="rollingTop">返回顶部</div>
</div>
<footer>
    <ul>
        <li><a href="../home/home.html">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li><a href="../PCG/PCG.html">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li><a href="../OEM/OEM.html">礼包</a></li>
    </ul>
    <div class="footer-text">
        <p>你好，<a href="" class="footer-a1">周杰伦</a></p>
        <p><a href="" class="footer-a1"> 意见反馈</a> 开放平台 联系我们 <a href="" class="footer-a2">游戏合作</a></p>
        <p>厦门七七游网络科技有限公司</p>
        <p class="imgSize">
            闽ICP备15008081号-2
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=921c2f99c1381082f24b42be36117a7978614ab766fcd691139c64c791d439d5"><img
                    border="0" src="http://pub.idqqimg.com/wpa/images/group.png"
                    alt="7724游戏交流群" title="7724游戏交流群"></a>
        </p>
        <p id="changeImage"><a key="58180ca2efbfb050303b4651" logo_size="124x47" logo_type="realname"
                               href="http://www.anquan.org">
            <script src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
        </a></p>
    </div>
</footer>
<script src="../../assets/js/jquery-3.2.0.min.js"></script>
<script src="informationList.js"></script>
<script src="../../assets/js/comment.js"></script>
</body>
</html>
