<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="../../../assets/js/lib-flexible.js"></script>
    <title>我的消息</title>
    <link rel="stylesheet" href="../../../assets/css/base.css">
    <link rel="stylesheet" href="../../../assets/css/comment.css">
    <link rel="stylesheet" href="mymsg.css">
</head>
<body>

<div class="main">
    <div class="user-header clear">
        <img src="../../../assets/img/arrow_ico1.png"/>
        个人中心
    </div>
    <div class="msg-tab">
        <ul class="display-flex flex-direction-row" id="tabUl">
            <li class="active">系统消息</li>
            <li>评论回复</li>
            <li>反馈回复</li>
        </ul>
    </div>
    <div class="online-data">
        <div class="msg-content clear">
            <ul>
                <li>
                    <div class="left-content left">
                        <img src="../../../assets/img/7724.png"/>
                    </div>
                    <div class="right-content right">
                        <p>管理员</p>
                        <p>即日起传奇世界V10以上的玩家可联系VIP客服QQ：3001348217领取更多福利~</p>
                        <p>7天前</p>
                    </div>
                </li>
                <li>
                    <div class="left-content left">
                        <img src="../../../assets/img/7724.png"/>
                    </div>
                    <div class="right-content right">
                        <p>管理员</p>
                        <p>即日起传奇世界V10以上的玩家可联系VIP客服QQ：3001348217领取更多福利~</p>
                        <p>7天前</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="online-data" style="display: none;">
        <div class="msg-content clear">
            <ul>
                <li>
                    <div class="left-content left">
                        <img src="../../../assets/img/7724.png"/>
                    </div>
                    <div class="right-content right">
                        <p>评论员</p>
                        <p>即日起传奇世界V10以上的玩家可联系VIP客服QQ：3001348217领取更多福利~</p>
                        <p>7天前</p>
                    </div>
                </li>
                <li>
                    <div class="left-content left">
                        <img src="../../../assets/img/7724.png"/>
                    </div>
                    <div class="right-content right">
                        <p>评论员员</p>
                        <p>即日起传奇世界V10以上的玩家可联系VIP客服QQ：3001348217领取更多福利~</p>
                        <p>7天前</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="online-data" style="display: none;">
        <div class="msg-content clear">
            <ul>
                <li>
                    <div class="left-content left">
                        <img src="../../../assets/img/7724.png"/>
                    </div>
                    <div class="right-content right">
                        <p>反馈员</p>
                        <p>即日起传奇世界V10以上的玩家可联系VIP客服QQ：3001348217领取更多福利~</p>
                        <p>7天前</p>
                    </div>
                </li>
                <li>
                    <div class="left-content left">
                        <img src="../../../assets/img/7724.png"/>
                    </div>
                    <div class="right-content right">
                        <p>反馈员</p>
                        <p>即日起传奇世界V10以上的玩家可联系VIP客服QQ：3001348217领取更多福利~</p>
                        <p>7天前</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="someTips">
    <!--返回顶部-->
    <div class="back-top" id="rollingTop">返回顶部</div>
</div>
<footer>
    <ul>
        <li><a href="">首页</a></li>
        <li><a href="">网游</a></li>
        <li><a href="">单机</a></li>
        <li><a href="">活动</a></li>
        <li><a href="">资讯</a></li>
        <li><a href="">礼包</a></li>
    </ul>
    <div class="footer-text">
        <p>你好，<a href="" class="footer-a1">周杰伦</a></p>
        <p><a href="" class="footer-a1"> 意见反馈</a> 开放平台 联系我们 <a href="" class="footer-a2">游戏合作</a></p>
        <p>厦门七七游网络科技有限公司</p>
        <p class="imgSize">
            闽ICP备15008081号-2
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=921c2f99c1381082f24b42be36117a7978614ab766fcd691139c64c791d439d5"><img
                    border="0" src="http://pub.idqqimg.com/wpa/images/group.png"
                    alt="7724游戏交流群" title="7724游戏交流群"></a>
        </p>
        <p id="changeImage"><a key="58180ca2efbfb050303b4651" logo_size="124x47" logo_type="realname"
                               href="http://www.anquan.org">
            <script src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
        </a></p>
    </div>
</footer>
<script src="../../../assets/js/tab.js"></script>
<script src="../../../assets/js/jquery-3.2.0.min.js"></script>
<script src="mymsg.js"></script>
<script src="../../../assets/js/comment.js"></script>
</body>
</html>
