<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="../../assets/js/lib-flexible.js"></script>
    <title>礼包详情页</title>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/comment.css">
    <link rel="stylesheet" href="OEMList.css">
</head>
<body>
<header class="clear">
    <div class="left-content left">
        <a href=""><img src="../../assets/img/new_logo.png"/></a>
    </div>
    <div class="right-content right">
        <a href=""><img src="../../assets/img/search_ico.png"/></a>
        <a href="../user/user.html"><img src="../../assets/img/user_ico.png"/></a>
    </div>
</header>
<nav>
    <ul>
        <li><a href="../home/home.html">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li><a href="../PCG/PCG.html">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li><a href="#">礼包</a></li>
    </ul>
</nav>
<div class="main">
    <div class="gdetail-download clear">
        <div class="gdetail-download-img">
            <a href="#"><img src="../../assets/images/online.png"></a>
        </div>
        <div class="gdetail-download-intro">
            <p class="p1">你是《三生三世十里桃花》里的谁</p>
            <p>剩余 <em>88%</em></p>
            <p>有效期：04-13 ~ 05-31</p>
        </div>
        <div class="gdetail-download-btn">
            <a href="#" class="a1">开始游戏</a>
        </div>
    </div>
    <div class="gdetail-ad">
        <img src="../../assets/images/ad-img3.jpg">
    </div>
    <div class="online-content gdetail-tab-box">
        <div class="gdetail-gintro-box">
            <div class="gdetail-tit"><h1>礼包内容</h1></div>
            <div class="gdetail-gintro-p">
                <p>
                    钻石*300、突破石*100，高级扭蛋卡*1，精灵石*200 <br>
                    使用方式：进入游戏主城 ---> 点击主城下方“激活码”按钮 --->在输入框中输入激活码，确认后奖励会直接发放到背包中
                </p>
            </div>
        </div>
        <div class="gdetail-gintro-box">
            <div class="gdetail-tit"><h1>注意事项</h1></div>
            <div class="gdetail-gintro-p">
                <p class="red-text">
                    本礼包将在领取结束后全部公开，请领到号码的玩家尽快使用，以免号码被其他玩家淘走。
                </p>
            </div>
        </div>
        <div class="gdetail-gintro-box">
            <div class="gdetail-tit gdetail-tit3"><h1>礼包发放</h1></div>
            <div class="online-data">
                <ul>
                    <li>
                        <div class="left-content ">
                            <div class="image-content">
                                <a href=""><img src="../../assets/images/online.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <p>天使奇迹大冒险：特权礼包</p>
                                <p><span>剩余</span> <span>71%</span></p>
                            </div>
                        </div>
                        <div class="right-content right">
                            <button class="over-style"><a href=""><a href="">结束</a></a></button>
                        </div>
                    </li>
                    <li>
                        <div class="left-content ">
                            <div class="image-content">
                                <a href=""><img src="../../assets/images/online.png" alt=""></a>
                            </div>
                            <div class="text-content">
                                <p>天使奇迹大冒险：特权礼包</p>
                                <p><span>剩余</span> <span>71%</span></p>
                            </div>
                        </div>
                        <div class="right-content right">
                            <button class="over-style"><a href=""><a href="">结束</a></a></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="someTips">
    <!--返回顶部-->
    <div class="back-top" id="rollingTop">返回顶部</div>
</div>
<footer>
    <ul>
        <li><a href="../home/home.html">首页</a></li>
        <li><a href="../online/online.html">网游</a></li>
        <li><a href="../PCG/PCG.html">单机</a></li>
        <li><a href="../activity/activity.html">活动</a></li>
        <li><a href="../information/information.html">资讯</a></li>
        <li><a href="../OEM/OEM.html">礼包</a></li>
    </ul>
    <div class="footer-text">
        <p>你好，<a href="" class="footer-a1">周杰伦</a></p>
        <p><a href="" class="footer-a1"> 意见反馈</a> 开放平台 联系我们 <a href="" class="footer-a2">游戏合作</a></p>
        <p>厦门七七游网络科技有限公司</p>
        <p class="imgSize">
            闽ICP备15008081号-2
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=921c2f99c1381082f24b42be36117a7978614ab766fcd691139c64c791d439d5"><img
                    border="0" src="http://pub.idqqimg.com/wpa/images/group.png"
                    alt="7724游戏交流群" title="7724游戏交流群"></a>
        </p>
        <p id="changeImage"><a key="58180ca2efbfb050303b4651" logo_size="124x47" logo_type="realname"
                               href="http://www.anquan.org">
            <script src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
        </a></p>
    </div>
</footer>
<script src="../../assets/js/jquery-3.2.0.min.js"></script>
<script src="../../assets/js/comment.js"></script>
<script src="OEMList.js"></script>
</body>
</html>
